
*{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background-color: #F2F2F2;
}

.content-center{
	width: 100%;
	max-width: 300px;
	margin: auto;
	padding: 20px;
	background-color: #00BFFF;
	border-radius: 15%;
}

.content-center .text-center{
	text- align: center;
}

.content-center img{
	width: 100%;
}

.content-center form{
	margin: 20px;
}

.content-center input,
.content-center button{
	width: 100%;
	padding: 10px 5px;
	border: none;
	outline: none;
}
.content-center input {
	border-bottom-color: #CCC;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	margin-bottom: 4,5px; 
}
.content-center input:focus{
	border-bottom-color: #005c5d;
}
.content-center button{
	background-color: #005c5d;
	color: #FFF;
}
.content-center button:hover{
	background-color: #005c5d;
	color: #FFF;
	cursor: pointer;
}
.content-center button:active{
	background-color: blue;
	color: #FFF;
}

header a {
	color:#009cf7;
	text-decoration: none;
}
header a:hover {
	text-decoration: underline;
}
header h1 {
	font-size:2.5em;
	text-align: center;
	margin: 50px auto;
}
footer {
	font-size:.8em;
	text-align: center;
}